.header-color{
  background-color: black !important;
  opacity: 0.8;
}

.hero-banner{
  position: absolute;
  
  height: 100%;
  width: 100%;
}

.hero-background{
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 500px;
  text-align: center;
}
.hero-background h1 {
  padding-top: 3em;
  font-size: 66px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.hero-banner p {
  color:  white;
  font-size: 20px;
}

.landing-content{
  margin: auto;
  width: 95%;
  padding: 20px;
  
}

.landing-content h1 {
  color: black;
  font-size: 60px;
  font-weight: bold;
}

.landing-content p {
  color: black;
}

.category-tabs{
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}


.projects-div{
  display: flex;
  margin: auto;
}

.avatar-img {
  
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 10%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 4em;
}


@media (max-width: 768px){
  
  .landing-content {
    text-align: center;
  }
  .landing-content h1{
    font-size: 50px;;
  }

  .landing-content p {
    font-size: 18px;
  }

  .projects-div {
    display: inline-block;
  }
  
}